stages:
  - build
  - pre-deployment
  - staging
  - test
  - deploy

default:
  image: registry.gitlab.com/personal1741534/website/node-custom:latest

build-job:
  image: alpine:3
  stage: build
  script:
    - echo "building ..."
    - sed -i "s/%%VERSION%%/$CI_COMMIT_SHORT_SHA/"
      /builds/personal1741534/website/dist/index.html
    - sed -i "s/%%VERSIONFULL%%/$CI_COMMIT_SHA/"
      /builds/personal1741534/website/dist/index.html
    - ls $CI_BUILDS_DIR/personal1741534
  artifacts:
    paths:
      - /builds/personal1741534/website/*
    expire_in: 1h

deploy-beta:
  stage: staging
  environment:
    name: Test
  script:
    - echo "Testing ... "
    - echo $CI_COMMIT_REF_NAME
    - cd cdk-infra
    - npm install
    - cdk bootstrap
    - cdk deploy BetaSinhalaForKidsWebsite --require-approval never --method=direct
    # wait 10s before curl test
    # - sleep 10
    # - curl -L beta.sinhalaforkids.com|grep -i sinhala
    # - curl -L beta.sinhalaforkids.com|grep -i $CI_COMMIT_SHORT_SHA

cdk-testing:
  stage: pre-deployment
  environment:
    name: CDK-Test
  script:
    - cd cdk-infra
    - npm ci
    - tsc && npm test test/cdk-infra.test.ts -- -stage=beta
    - tsc && npm test test/cdk-infra.test.ts -- -stage=prod

e2e-testing:
  image: registry.gitlab.com/personal1741534/website/playwrite:v1.48.1-noble
  stage: test
  script:
    - echo "playwrite testing ..."
    - cd e2e-tests
    - npm ci
    - npm run test --stage=beta

deploy-prod:
  stage: deploy
  environment:
    name: production
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"
  # image: registry.gitlab.com/personal1741534/website:latest
  when: manual
  script:
    - echo $CI_COMMIT_REF_NAME
    - cd cdk-infra
    - npm ci
    - cdk bootstrap
    - cdk deploy ProdSinhalaForKidsWebsite --require-approval never --method=direct
