default:
  image: registry.gitlab.com/personal1741534/website/node-custom:latest

e2e-testing:
  image: registry.gitlab.com/personal1741534/website/playwrite:v1.48.1-noble
  stage: e2e testing
  script:
    - echo "playwrite testing ... "
    - cd e2e-tests/playwrite
    - npm install
    - npx -y playwright test
