default:
  image: registry.gitlab.com/personal1741534/website/node-custom:latest

build-job:
  image: alpine:3
  stage: build
  script:
    - echo "building ..."
    - sed -i "s/%%VERSION%%/$CI_COMMIT_SHORT_SHA/"
      /builds/personal1741534/website/dist/index.html
    - sed -i "s/%%VERSIONFULL%%/$CI_COMMIT_SHA/"
      /builds/personal1741534/website/dist/index.html
    - ls $CI_BUILDS_DIR/personal1741534
  artifacts:
    paths:
      - /builds/personal1741534/website/*
    expire_in: 1h

cdk-testing:
  stage: cdk-testing
  environment:
    name: Test
  script:
    - cd cdk-infra
    - npm install
    - tsc && npm test test/cdk-infra.test.ts -- -stage=beta
    - tsc && npm test test/cdk-infra.test.ts -- -stage=prod

deploy-beta:
  stage: deploy
  environment:
    name: Test
  # image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - echo "Testing ... "
    - echo $CI_COMMIT_REF_NAME
    - cd cdk-infra
    - npm install
    - cdk bootstrap
    - cdk deploy BetaSinhalaForKidsWebsite --require-approval never
    # wait 10s before curl test
    - sleep 10
    - curl -L beta.sinhalaforkids.com|grep -i sinhala
# script:
# - cat /builds/personal1741534/website/dist/index.html | grep $CI_COMMIT_SHORT_SHA

e2e-testing:
  image: registry.gitlab.com/personal1741534/website/playwrite:v1.48.1-noble
  stage: test
  script:
    - echo "playwrite testing ..."
    - cd e2e-tests/playwrite
    - npm install
    - npx -y playwright test

deploy-prod:
  stage: deploy
  environment:
    name: production
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"
  # image: registry.gitlab.com/personal1741534/website:latest
  script:
    - echo $CI_COMMIT_REF_NAME
    - cd cdk-infra
    - npm install
    - cdk bootstrap
    - cdk deploy ProdSinhalaForKidsWebsite --require-approval never
