body {
  margin: 0;
}

.sheet-outer {
  margin: 0;
}

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

@media screen {
  body {
    background: #e0e0e0;
  }

  .sheet {
    background: white;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 5mm auto;
  }
}

.sheet-outer.A4 .sheet {
  width: 210mm;
  height: 296mm;
}

.sheet.padding-5mm {
  padding: 5mm;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .sheet-outer.A4,
  .sheet-outer.A5.landscape {
    width: 210mm;
  }
}

td {
  font-size: 24px;
}

th,
td {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

table {
  border-spacing: 10px;
}

td {
  text-align: center;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  border: 1px solid black;
}

.controls {
  margin: auto;
  width: 50%;
  border: 5px solid green;
  padding: 20px;
  text-align: center;
}

@media print {
  #controls {
    display: none;
  }
}

footer {
  font-size: 12px;
}

@media all and (max-width: 1300px) {
  .controlsText {
    font-size: 42px;
  }

  .controls {
    margin: auto;
    width: 100%;
    border: 5px solid green;
    padding: 20px;
    font-size: 28px;
    text-align: center;
  }

  .controlButton {
    padding: 15px 15px;
    font-size: 28px;
  }

  .controlText {
    font-size: 28px;
  }

  .controlOperation {
    padding: 10px 10px;
    font-size: 38px;
  }

  .controlInput {
    font-size: 28px;
  }
}
